body {
  background-image: url(../images/overwatch_background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

.hero-cards img {
    padding: 20px;
}
